!!!
%html
  %head
    %title
      Your IP is
      = @ip    
    %link{:rel => "shortcut icon", :type => "image/png", :href => "/favicon.png"}/
    %link{:rel => "stylesheet", :type => "text/css", :href => "/stylesheets/application.css"}/
    
  %body
    %h2
      What's my IP Nano
    %h3
      %a{:href => "/ip"}= @ip
    %p
      %a{:href => "iStat nano.wdgt.zip"} Download Nano Widget
      %sup 
        (for OS X 10.4+)
        updated
        = @appDate.strftime("%Y/%m/%d at %I:%M%p")